In [34]:
import pandas as pd

file_path = './../2023/노선·정류장 지표(노선별 이용량)_20230313.xlsx'

df = pd.read_excel(file_path)

# 데이터 확인
print(df)

        노선        기종점              일  정류장순번    정류장 이용자유형     합계  06   07  \
0       합계          0              0      0      0     0  19552  33  327
1    사하구10  하단역 - 하단역  2023-03-13(월)      0    하단역   어린이      1   0    0
2        0          0              0      0      0   일반인   1592   8   30
3        0          0              0      0      0   청소년    221   0    6
4        0          0              0      1  하단오거리   일반인    218   0    3
..     ...        ...            ...    ...    ...   ...    ...  ..  ...
148      0          0              0      0      0   청소년      5   0    0
149      0          0              0     13  동아스포츠   일반인      4   0    0
150      0          0              0      0      0   청소년      0   0    0
151      0          0              0     14    하단역   일반인      0   0    0
152      0          0              0      0      0   청소년      0   0    0

       08  ...    13    14    15    16    17   18   19   20   21   22
0    2365  ...  1618  1515  1080  1844  1588  828  389  324  349  240
1       1  ...     0     0     0     0     0    0    0    0    0    0
2     270  ...   176   101    31    41    22   18   14   17   14   14
3      57  ...     6     6     6     4     4    3    4    1    7    3
4      57  ...    16    17     4     4     3    2    3    5    2    2
..    ...  ...   ...   ...   ...   ...   ...  ...  ...  ...  ...  ...
148     0  ...     3     0     0     1     0    1    0    0    0    0
149     1  ...     0     0     0     0     1    1    0    0    1    0
150     0  ...     0     0     0     0     0    0    0    0    0    0
151     0  ...     0     0     0     0     0    0    0    0    0    0
152     0  ...     0     0     0     0     0    0    0    0    0    0

[153 rows x 24 columns]

In [35]:
df

,노선,기종점,일,정류장순번,정류장,이용자유형,합계,06,07,08,...,13,14,15,16,17,18,19,20,21,22
0,합계,0,0,0,0,0,19552,33,327,2365,...,1618,1515,1080,1844,1588,828,389,324,349,240
1,사하구10,하단역 - 하단역,2023-03-13(월),0,하단역,어린이,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,일반인,1592,8,30,270,...,176,101,31,41,22,18,14,17,14,14
3,0,0,0,0,0,청소년,221,0,6,57,...,6,6,6,4,4,3,4,1,7,3
4,0,0,0,1,하단오거리,일반인,218,0,3,57,...,16,17,4,4,3,2,3,5,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,0,0,0,0,0,청소년,5,0,0,0,...,3,0,0,1,0,1,0,0,0,0
149,0,0,0,13,동아스포츠,일반인,4,0,0,1,...,0,0,0,0,1,1,0,0,1,0
150,0,0,0,0,0,청소년,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
151,0,0,0,14,하단역,일반인,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
152,0,0,0,0,0,청소년,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [36]:
for i in range(1, len(df["일"]), 31):
    print(df["일"][i])

2023-03-13(월)
2023-03-14(화)
0
0
0

In [41]:
len(df.columns)

24

In [42]:
sum_days = [0,0,0,0,0,0]
k = 0
for i in range(1, len(df["일"])):
    if df["일"][i] != 0:
        print(sum_days[k])
        k+=1
        print(df["일"][i])
    else:
        sum_days[k] += df["합계"][i]
print(sum_days[k])

0
2023-03-13(월)
4103
2023-03-14(화)
2488
2023-03-15(수)
2339
2023-03-16(목)
2426
2023-03-17(금)
2316

In [43]:
def count_sum(string):
    sum_days = [0,0,0,0,0,0]
    k = 0
    for i in range(1, len(df["일"])):
        if df["일"][i] != 0:
            print(sum_days[k])
            k+=1
            print(df["일"][i])
        else:
            sum_days[k] += df[string][i]
    print(sum_days[k])

In [46]:
count_sum("08")

0
2023-03-13(월)
450
2023-03-14(화)
170
2023-03-15(수)
161
2023-03-16(목)
143
2023-03-17(금)
173

In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from statsmodels.tsa.arima.model import ARIMA

data = {
    'Date': pd.date_range(start='2023-03-17', periods=20*17, freq='H'),  # 날짜 정보 (시작 날짜와 주기, n은 주차 수)
    'Hour': list(range(6, 23)) * 20,  # 시간 정보 (6시부터 22시까지)
    'Passengers': [0] * 17 * 20,  # 해당 시간의 이용객 수
}

df = pd.DataFrame(data)

df.set_index('Date', inplace=True)

train_data = df['Passengers'][:-17]
test_data = df['Passengers'][-17:]

model = ARIMA(train_data, order=(3,1,1))
model_fit = model.fit()

predicted_passengers = model_fit.forecast(steps=17)

next_week_dates = pd.date_range(start=df.index[-1] + pd.DateOffset(hours=1), periods=17, freq='H')
result = pd.DataFrame({'Date': next_week_dates, 'Predicted_Passengers': predicted_passengers})
print(result)

                                   Date  Predicted_Passengers
2023-03-30 11:00:00 2023-03-31 04:00:00                   0.0
2023-03-30 12:00:00 2023-03-31 05:00:00                   0.0
2023-03-30 13:00:00 2023-03-31 06:00:00                   0.0
2023-03-30 14:00:00 2023-03-31 07:00:00                   0.0
2023-03-30 15:00:00 2023-03-31 08:00:00                   0.0
2023-03-30 16:00:00 2023-03-31 09:00:00                   0.0
2023-03-30 17:00:00 2023-03-31 10:00:00                   0.0
2023-03-30 18:00:00 2023-03-31 11:00:00                   0.0
2023-03-30 19:00:00 2023-03-31 12:00:00                   0.0
2023-03-30 20:00:00 2023-03-31 13:00:00                   0.0
2023-03-30 21:00:00 2023-03-31 14:00:00                   0.0
2023-03-30 22:00:00 2023-03-31 15:00:00                   0.0
2023-03-30 23:00:00 2023-03-31 16:00:00                   0.0
2023-03-31 00:00:00 2023-03-31 17:00:00                   0.0
2023-03-31 01:00:00 2023-03-31 18:00:00                   0.0
2023-03-31 02:00:00 2023-03-31 19:00:00                   0.0
2023-03-31 03:00:00 2023-03-31 20:00:00                   0.0

C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:524: ValueWarning: No frequency information was provided, so inferred frequency H will be used.
  warnings.warn('No frequency information was'
C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:524: ValueWarning: No frequency information was provided, so inferred frequency H will be used.
  warnings.warn('No frequency information was'
C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:524: ValueWarning: No frequency information was provided, so inferred frequency H will be used.
  warnings.warn('No frequency information was'
C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\base\model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "